{% extends 'base.html' %}
{% load static %}


{% block 'dashboard' %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estoque/css/estoque.css' %}">
    <script src="{% static 'estoque/js/estoque.js' %}"></script>
</head>
<body>
    <h1>Estoque</h1>
    <div class="container">
        <div class="form">
            <input type="text" id="nome" placeholder="Nome do Item">
            <input type="number" id="quantidade" placeholder="Quantidade">
            <input type="number" id="valor" placeholder="Valor">
            <button class="adicionar">Adicionar Item</button>
        </div>
        <table id="estoque">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itens do estoque serão adicionados aqui dinamicamente -->
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
